{
  "singleQuote": true,
  "printWidth": 100,
  "tabWidth": 2,
  "trailingComma": "none",
	"plugins": ["@trivago/prettier-plugin-sort-imports"],
	"importOrder": [
		"^\\u0000",
		"^react", "^@?\\w",
		"^\\.\\.(?!/?$)", "^\\.\\./?$",
		"^\\./(?=.*/)(?!/?$)", "^\\.(?!/?$)", "^\\./?$"
	]
}
